KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/idt_flush.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/tss.o \
$(ARCHDIR)/tss_flush.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/process.o \
$(ARCHDIR)/vmm.o \
